<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="title">Your todo list:</h3>
            </div>
            <div class="card-body">
              <div class="card-title"><input id="item-input" class="form-control form-control-lg col-5" type="text" size="120" placeholder="Your list here.."></div>
              <input id="item-submit" class="btn btn-success col-3" type="button" value="Add to list">
            </div>
          </div>
    </div>

    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Item</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="item-list">
                {% for data in object_list %}
                <tr id="row{{data.id}}">
                    <th>{{ forloop.counter }}</th>
                    <th>{{data.items}}</th>
                    <th><input type="button" onclick="delete_item(this)" class="btn btn-warning" value="Delete" id="{{data.id}}"></th>
                </tr>
                {%endfor%}
            </tbody>

        </table>
    </div><br>

      <div class="footer-copyright text-center py-3">Submitted By:
        <a href="https://mdbootstrap.com/"> Sanjaya Shrestha</a>
      </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <script>

        const itemListSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/items/'
        );

        itemListSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#item-list').innerHTML = ''
            let i=1
            for(item_data of data.todo_list){
                
                document.querySelector('#item-list').innerHTML += `<tr id="row${item_data.pk}" >
                    <th>${i}</th>
                    <th id="1">${item_data.fields.items}</th>
                    <th id="${item_data.pk}"><input type="button" onclick="delete_item(this)" class="btn btn-warning" value="Delete" id="${item_data.pk}"></th>
                </tr>`;
                i=i+1;
            }
            
        };

        itemListSocket.onclose = function(e) {
            console.error('Item List socket closed unexpectedly');
        };

        document.querySelector('#item-input').focus();
        document.querySelector('#item-input').onkeyup = function(e) {

            

            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#item-submit').click();
            }
        };

        document.querySelector('#item-submit').onclick = function(e) {
            const itemDom = document.querySelector('#item-input');
            const todo_item = itemDom.value;
            if(todo_item !== ""){
                itemListSocket.send(JSON.stringify({
                    'todo_item': todo_item
                }));
            }
            
            itemDom.value = '';
        };

        function delete_item(e){
            id = e.attributes["id"].value
            $.ajax({
                type: "GET",
                url: 'delete/'+id,
                data:{
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    id: id,
                    action: 'GET'
                },
                success: function (data) {
                  if(data.success === 'success'){
                      $("#row"+id).remove()
                  }
                  }
              });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }



    </script>
</body>
</html>